button.btn {
  height: 28px;
  line-height: 1;
  font-weight: 600;
  padding: 1px 1rem;
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $text;
    &:hover, &:active {
      background-color: #ebc564 !important;
      border-color: $primary !important;
      color: $text !important;
    }
  }
}
